#Mac files
*DS_Store

#Python files
*.pyc

# Ignore all pyenv version files
*.python-versions
*.python-version

# Ignore all data files
*.csv
*.json
*.npy
*.tar.gz
*.tar
adult.test
adult.data

#python data files
*.ivecs
*.fvecs

#neural network files

*.weights
*.tf.index
*.tf.data*

#Image files
*.jpg

#Pickles
*.pkl
